body {
  margin: 0px;
  /* background-image: url("/images/photo-1573096108468-702f6014ef28.avif");
  background-position: center;
  background-size: cover; */
  background-color: rgb(255 161 161 / 80%);
}

header {
  background-color: rgb(255, 255, 255);
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  padding: 15px 20px 0 20px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li a {
  color: rgb(153 73 73);
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  text-decoration: none;
  padding: 0 10px 0 10px;
  margin: 0 0 0 20px;
}

li a:hover {
  color: rgb(247 251 254);
  background-color: rgb(162 59 59);
  border-radius: 12px;
}

#logo-nav-container {
  display: flex;
  justify-content: space-between;
}

#logo {
  color: rgb(153 73 73);
  font-family: "Square Peg", sans-serif;
  text-decoration: none;
  font-size: 35px;
  font-weight: bolder;
  margin: 0;
}

#logo:hover {
  color: rgb(153 73 73);
  font-family: "Square Peg", sans-serif;
  text-decoration: none;
  font-size: 38px;
  font-weight: bolder;
  margin: 0;
}

#about-p {
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 150px;
  padding: 15px 320px 0 20px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 100;
}

#collections {
  background-color: rgb(255, 255, 255);
  background-image: url("/images/collage.jpg");
  background-position: center;
  background-size: 800px;
  width: 1200px;
  height: 600px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
