body {
  margin: 0px;
  background-color: rgb(248 199 199 / 80%);
}

main {
  width: 1220px;
  height: 920px;
  margin: 0 auto;
  position: relative;
}

#logo-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
}

#logo {
  color: #F0616E;
  font-family: "Square Peg", sans-serif;
  font-size: 45px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0;
}

#logo:hover {
  color: #FD5369;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li a {
  color: #F0616E;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 10px 0 10px;
  margin: 0 0 0 20px;
  border-radius: 12px;
}

li a:hover {
  color: rgb(247 251 254);
  background-color:#F0616E;
  transition-duration: 0.2s;
}

#about-container {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: #6D4546;
  padding: 0 250px 0 20px;
  position: relative;
  top: 60px;
}

#collections-container {
  background-color: rgb(255, 255, 255);
  background-image: url("/images/collage.jpg");
  background-position: center;
  background-size: 800px;
  width: 1120px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

#icon-container {
  text-align: center;
  padding-top: 20px;
}

.icons-link {
  text-decoration: none;
  padding: 0 10px;
}

.icons {
  width: 30px;
  opacity: 1;
}

.icons-hover {
  width: 32px;
  position: relative;
  right: 35px;
  opacity: 0;
}

.icons:hover {
  opacity: 0;
  transition-duration: 0.2s;
}

.icons-hover:hover {
  opacity: 1;
  transition-duration: 0.2s;
}
