body {
  margin: 0px;
  background-color: rgb(255 161 161 / 80%);
}

main {
  background-color: rgb(255, 255, 255);
  width: 1200px;
  height: 920px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  border-radius: 5px;
  box-shadow: 0.1px 0.1px 5px rgb(126 71 67);
}

#logo-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
}

#logo {
  color: rgb(153 73 73);
  font-family: "Square Peg", sans-serif;
  font-size: 45px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0;
}

#logo:hover {
  color: rgb(107 11 11);
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li a {
  color: rgb(153 73 73);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  text-decoration: none;
  padding: 0 10px 0 10px;
  margin: 0 0 0 20px;
}

li a:hover {
  color: rgb(247 251 254);
  background-color: rgb(162 59 59);
  border-radius: 12px;
  transition-duration: 0.2s;
}

#about-container {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding: 0 580px 0 20px;
}

#collections-container {
  background-color: rgb(255, 255, 255);
  background-image: url("/images/collage.jpg");
  background-position: center;
  background-size: 800px;
  width: 1120px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px 0 20px;
  border-radius: 2px;
}

#icon-container {
  text-align: center;
  padding-top: 20px;
}

.icons-link {
  text-decoration: none;
  padding: 0 10px;
}

.icons {
  width: 30px;
  opacity: 1;
}

.icons-hover {
  width: 32px;
  position: relative;
  right: 35px;
  opacity: 0;
}

.icons:hover {
  opacity: 0;
  transition-duration: 0.2s;
}

.icons-hover:hover {
  opacity: 1;
  transition-duration: 0.2s;
}
